<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:include="houtai-ori::ori-commonheadscript">
</head>

<body class="app sidebar-mini">
<!-- Navbar-->

<div th:replace="houtai-ori::ori-commonhead"></div>
<main class="app-content">
    <br>
    <br>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 后台管理</h1>
            <p>知识库管理</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">

                <!--startprint-->
                <div class="tile">
                    <div class="tile-body">

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>知识点id</th>
                                    <th>知识点</th>
                                    <th>章节序号</th>
                                    <th>删除</th>
                                    <th>修改</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="each:${zhishiku}">
                                    <td th:text="${each.id}"></td>
                                    <td th:text="${each.zhishidian}"></td>
                                    <td th:text="${each.zhangjieid}"></td>
                                    <td><a th:href="@{'/houtai/delzhishiku/'+${each.id}}">删除</a></td>
                                    <td><a th:href="@{'/houtai/updatezhishiku/'+${each.id}}">修改</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--endprint-->
                <div>
                    <a th:href="@{/houtai/addzhishiku}" class="btn btn-primary icon-btn col-1">增加</a>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<div th:replace="houtai-ori::ori-commonfooter"></div>
</body>
</html>