<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:include="houtai-ori::ori-commonheadscript">
</head>

<body class="app sidebar-mini">
<!-- Navbar-->

<div th:replace="houtai-ori::ori-commonhead"></div>
<main class="app-content">
    <br>
    <br>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 后台管理</h1>
            <p>论坛管理</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">


                <!--startprint-->
                <div class="tile">
                    <div class="tile-body">

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>论坛id</th>
                                    <th>发表者</th>
                                    <th>发表内容</th>
                                    <th>发表时间</th>
                                    <th>获赞数</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="each:${luntan}">
                                    <td th:text="${each.id}"></td>
                                    <td th:text="${each.username}"></td>
                                    <td th:text="${each.somecontext}"></td>
                                    <td th:text="${each.dealtime}"></td>
                                    <td th:text="${each.likes}"></td>
                                    <td><a th:href="@{'/houtai/delluntan/'+${each.id}}">删除</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--endprint-->

            </div>
        </div>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<div th:replace="houtai-ori::ori-commonfooter"></div>
</body>
</html>