<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>知识库</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <!-- Font-icon css-->
    <link rel="stylesheet" th:include="oriHtml::commonheadscript">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/editormd.css}"/>
</head>


<body>
<header id="header" class="fixed-top" th:include="oriHtml::commonhead"></header>
<!-- Sidebar menu 知识点-->

<aside class="app-sidebar">
    <ul class="app-menu">

        <li><a class="app-menu__item" th:href="@{/zhishidian}"><i class="app-menu__icon fa fa-pie-chart"></i><span
                class="app-menu__label">知识点</span></a></li>
        <li><a class="app-menu__item" th:href="@{/zhishiku}"><i class="app-menu__icon fa fa-file-code-o"></i><span
                class="app-menu__label">知识条</span></a></li>
        <li><a class="app-menu__item" th:href="@{/nonstruct}"><i class="app-menu__icon fa fa-file-code-o"></i><span
                class="app-menu__label">非结构知识</span></a></li>

    </ul>
</aside>

<main class="app-content content">
    <div>
        <div>
            <br>
            <h3><i class="fa fa-file-text-o"></i> 知识文档</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <section class="invoice">

                    <div class="col-12">
                        <h5 style="text-align:center">知识文档搜索</h5>
                        <br>
                        <form method="post" th:action="@{/nonstructquery}">
                            <div class="form-group row">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <input name="choice" class="form-control col-8" placeholder="知识条搜索">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <button class="btn btn-primary icon-btn col-1"><i class="fa fa-sign-in fa-lg fa-fw"></i>点击查询
                                </button>
                            </div>
                        </form>
                    </div>


                </section>
                <hr>
                <!--startprint-->
                <div th:if="${zhishi}==null"><p>知识库里空空如也</p></div>
                <div th:if="${zhishi}!=null">
                    <div>
                        <div class="content">
                            <a href="#"><h5 th:text="'作者: '+${zhishi.auther}"></h5></a>
                            <p class="text-muted"><small th:text="'知识序号：'+${zhishi.id}"></small></p>

                        </div>
                    </div>
                    <div  id="doc-content" >
                        <textarea style="display:none;" placeholder="markdown" th:text="${zhishi.context}"></textarea>
                    </div>
                    <hr>
                </div>


                <!--endprint-->


                <div>
                    <div class="post-media">
                        <div class="content">
                            <h4 style="text-align:center"><a>发布知识</a></h4>

                            <form method="post" name="mdEditorForm">
                                <div class="form-group">
                                    <p>您的题目</p>
                                    <input name="title" class="form-control" placeholder="题目">
                                </div>
                                <hr>
                                <p><strong>知识正文</strong></p>
                                <div id="article-content">
                                    <textarea name="context" id="content" style="display:none;"> </textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="row d-print-none mt-2">
                    <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();"
                                                      target="_blank"><i class="fa fa-print"></i> Print</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<footer th:replace="oriHtml::commonfoot"></footer>

<link rel="stylesheet" th:href="@{/css/editormd.preview.css}"/>
<script th:src="@{/js/editormd.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/lib/marked.min.js}"></script>
<script th:src="@{/lib/prettify.min.js}"></script>
<script th:src="@{/lib/raphael.min.js}"></script>
<script th:src="@{/lib/underscore.min.js}"></script>
<script th:src="@{/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/lib/flowchart.min.js}"></script>
<script th:src="@{/lib/jquery.flowchart.min.js}"></script>


<link rel="stylesheet" th:href="@{/css/editormd.preview.css}"/>
<!-- Essential javascripts for application to work-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<!-- Google analytics script-->
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>


<script type="text/javascript">
    function mprint() {
        bdhtml = window.document.body.innerHTML;//获取当前页的html代码
        sprnstr = "<!--startprint-->";//设置打印开始区域
        eprnstr = "<!--endprint-->";//设置打印结束区域
        prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
        window.document.body.innerHTML = prnhtml;
        window.print();
    }
</script>
<!--editormd-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/editormd.js}"></script>
<script type="text/javascript">
    var testEditor;
    //window.onload = function(){ }
    $(function () {
        testEditor = editormd("article-content", {
            width: "95%",
            height: 400,
            syncScrolling: "single",
            path: "../lib/",
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            emoji: true,
            theme: "github",//工具栏主题
            previewTheme: "github",//预览主题
            editorTheme: "github",//编辑主题
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //图片上传
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/article/file/upload",
            onload: function () {
                console.log('onload', this);
            },
            /*指定需要显示的功能按钮*/
            toolbarIcons: function () {
                return ["undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text",
                    "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                    "help", "info", "releaseIcon", "index"]
            },
            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts: {
                releaseIcon: "<span bgcolor=\"gray\">发布</span>",
                index: "<span bgcolor=\"red\">返回首页</span>",
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers: {
                releaseIcon: function (cm, icon, cursor, selection) {
                    //表单提交
                    mdEditorForm.method = "post";
                    mdEditorForm.action = "/nonstruct";//提交至服务器的路径
                    mdEditorForm.submit();
                },
                index: function () {
                    window.location.href = '/';
                },
            }
        });
    });
</script>

<script type="text/javascript">
    var testEditor_2;
    $(function () {
        testEditor_2 = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
            htmlDecode: true,
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            tocm: true,
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true
        });
    });
</script>
<div th:include="oriHtml::commonfootscript"></div>
</body>

</html>